In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from datetime import date
from tqdm import tqdm

In [2]:
df=pd.read_csv('../basicData.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86391 entries, 0 to 86390
Data columns (total 10 columns):
gameId             86391 non-null int64
HT_goals           86391 non-null int64
competitionName    86391 non-null object
awayTeamName       86391 non-null object
homeTeamName       86391 non-null object
date               86391 non-null object
AT_goals           86391 non-null int64
HT_id              86391 non-null int64
competitionId      81394 non-null float64
AT_id              86391 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.6+ MB

In [4]:
df['date'] = df['date'].apply(lambda Date: Date.split(' ')[0])

In [5]:
df['year'] = df['date'].apply(lambda Date: Date.split('-')[0])

In [6]:
df['awayTeamName']=df['awayTeamName'].apply(lambda team: team.lower())
df['homeTeamName']=df['homeTeamName'].apply(lambda team: team.lower())

In [7]:
df.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
0,669044,2,Finnish Veikkausliiga,jjk jyvaskyla,kps kuopio,2013-07-15,1,2031,208.0,5086,2013
1,668800,3,Swedish Allsvenskan,osters,helsingborgs,2013-07-15,0,1296,205.0,1954,2013
2,677919,6,Champions League,eb streymur,dinamo tbilisi,2013-07-16,1,823,66.0,4441,2013
3,677924,3,Champions League,vardar skopje,steaua,2013-07-16,0,2251,66.0,2669,2013
4,677931,2,Champions League,ludogorets,s. bratislava,2013-07-17,1,2368,66.0,5344,2013

In [8]:
import requests

url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/index.html'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

score_fifa = pd.read_html(r.text)
score_fifa=score_fifa[0]

In [9]:
score_fifa=score_fifa.drop([' ', '2018 (100 %)', '2016 (30 %)', '2015 (20 %)',
      'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12',
       'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],axis=1)

In [10]:
score_fifa.columns=['Name','Total Points','2018 power','2017 power','2016 power','2015 power']

In [11]:
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split('(')[1])
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split(')')[0])

In [12]:
score_fifa['Total Points']=score_fifa['Total Points'].astype(float)

In [13]:
score_fifa.head()

        Name  Total Points  2018 power  2017 power  2016 power  2015 power
0    Germany       1558.49      775.06      832.00      424.26     1200.77
1     Brazil       1430.57      558.95     1082.36      560.21      811.88
2    Belgium       1298.32      629.98      645.63      529.80      932.92
3   Portugal       1273.69      646.92      691.82      517.77      627.63
4  Argentina       1241.45      404.07      809.59      829.98      917.94

*** 2016 ***

In [14]:
National_europe = pd.read_html('http://www.pesmaster.com/national-teams-europe/pes-2016/league/90/')
National_europe=National_europe[1]
National_europe['year']='2016'

National_africa = pd.read_html('http://www.pesmaster.com/national-teams-africa/pes-2016/league/91/')
National_africa=National_africa[1]
National_africa['year']='2016'

National_South_Am=pd.read_html('http://www.pesmaster.com/national-teams-south-america/pes-2016/league/93/')
National_South_Am=National_South_Am[1]
National_South_Am['year']='2016'

National_america = pd.read_html('http://www.pesmaster.com/national-teams-north-america/pes-2016/league/92/')
National_america=National_america[1]
National_america['year']='2016'

National_asia = pd.read_html('http://www.pesmaster.com/national-teams-asia/pes-2016/league/94/')
National_asia=National_asia[1]
National_asia['year']='2016'

National_team=[National_europe,National_africa,National_South_Am,National_america,National_asia]
National_team=pd.concat(National_team)

In [15]:
National_team['Name']=National_team['Name'].apply(lambda team: team.lower())

In [16]:
National_team['Name'].loc[National_team['Name']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [17]:
score_fifa_2016=score_fifa[['Name','2016 power']]
score_fifa_2016['Name']=score_fifa_2016['Name'].apply(lambda team: team.lower())

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
score_fifa_2016['Name'].loc[score_fifa_2016['Name']=='ir iran']='iran'
score_fifa_2016['Name'].loc[score_fifa_2016['Name']=='korea republic']='republic of korea'
score_fifa_2016['Name'].loc[score_fifa_2016['Name']=='Korea Republic']='republic of korea'
score_fifa_2016[score_fifa_2016['Name']=='iran']

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Name  2016 power
36  iran      308.01

In [19]:
National_team_2016=pd.merge(National_team,score_fifa_2016,how='inner',on='Name')

In [20]:
National_team_2016.head()

      Name  Ovr  Def  Mid  Fwd  Phy  Spd  year  2016 power
0    spain   86   83   84    0   77   76  2016      646.40
1   france   85   85   85   86   83   78  2016      393.65
2  germany   85   88   83   86   80   78  2016      424.26
3  belgium   84   82   80   84   84   77  2016      529.80
4    italy   83   80   86   80   80   76  2016      415.76

In [21]:
National_team_2016.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2016 power_away']

In [22]:
df2016=df[df['year']=='2016']

In [23]:
df2016.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
44754,709301,0,Championship,wolves,brighton,2016-01-01,1,381,2.0,2848,2016
44755,715474,3,National League,torquay,forest green,2016-01-01,1,1048,9.0,2589,2016
44756,714214,2,NI Premier League,crusaders,linfield,2016-01-01,0,1585,48.0,653,2016
44757,708829,2,Premier League,swansea,man utd,2016-01-02,1,1724,1.0,2513,2016
44758,708827,1,Premier League,southampton,norwich,2016-01-02,0,1855,1.0,2471,2016

In [24]:
all_data_2016=pd.merge(df2016,National_team_2016,how='inner',on='awayTeamName')

In [25]:
all_data_2016.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2016 power_away
0,725839,0,Copa America,panama,cuba,2016-01-09,4,3195,84.0,3267,2016,67,67,65,70,74,71,2016,326.3
1,722708,0,World Cup,panama,haiti,2016-03-26,0,3172,73.0,3267,2016,67,67,65,70,74,71,2016,326.3
2,725838,1,International,panama,nicaragua,2016-03-16,0,3489,83.0,3267,2016,67,67,65,70,74,71,2016,326.3
3,724362,5,Copa America,panama,argentina,2016-06-11,0,128,84.0,3267,2016,67,67,65,70,74,71,2016,326.3
4,724365,4,Copa America,panama,chile,2016-06-15,2,550,84.0,3267,2016,67,67,65,70,74,71,2016,326.3

In [26]:
National_team_2016.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home', '2016 power_home']

In [27]:
all_data_2016=pd.merge(all_data_2016,National_team_2016,how='inner',on='homeTeamName')

In [28]:
all_data_2016.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,...,year_away,2016 power_away,Ovr_home,Def_home,Mid_home,Fwd_home,Phy_home,Spd_home,year_home,2016 power_home
0,724362,5,Copa America,panama,argentina,2016-06-11,0,128,84.0,3267,...,2016,326.30,86,83,86,83,82,79,2016,829.98
1,726680,1,International,honduras,argentina,2016-05-28,0,128,83.0,3173,...,2016,148.74,86,83,86,83,82,79,2016,829.98
2,720655,3,World Cup,colombia,argentina,2016-11-15,0,128,73.0,613,...,2016,665.76,86,83,86,83,82,79,2016,829.98
3,720631,1,World Cup,uruguay,argentina,2016-09-02,0,128,73.0,2651,...,2016,561.47,86,83,86,83,82,79,2016,829.98
4,720626,2,World Cup,bolivia,argentina,2016-03-30,0,128,73.0,442,...,2016,222.28,86,83,86,83,82,79,2016,829.98

In [29]:
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==740497]=84
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==723457]=84    
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==723476]=84     
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==720697]=84
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==723263]=84     
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==740491]=84     
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==720726]=84     
all_data_2016['Fwd_away'].loc[all_data_2016['gameId']==723960]=84

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [30]:
all_data_2016['Ovr_ratio']=0.0
all_data_2016['Def_ratio']=0.0
all_data_2016['Mid_ratio']=0.0
all_data_2016['Fwd_ratio']=0.0
all_data_2016['Phy_ratio']=0.0
all_data_2016['Spd_ratio']=0.0
all_data_2016['2016 power_ratio']=0.0
for i in range(all_data_2016.shape[0]):
    all_data_2016['Ovr_ratio'][i]=all_data_2016['Ovr_home'][i]/all_data_2016['Ovr_away'][i]
    all_data_2016['Def_ratio'][i]=all_data_2016['Def_home'][i]/all_data_2016['Def_away'][i]
    all_data_2016['Mid_ratio'][i]=all_data_2016['Mid_home'][i]/all_data_2016['Mid_away'][i]
    all_data_2016['Fwd_ratio'][i]=all_data_2016['Fwd_home'][i]/all_data_2016['Fwd_away'][i]
    all_data_2016['Phy_ratio'][i]=all_data_2016['Phy_home'][i]/all_data_2016['Phy_away'][i]
    all_data_2016['Spd_ratio'][i]=all_data_2016['Spd_home'][i]/all_data_2016['Spd_away'][i]
    all_data_2016['2016 power_ratio'][i]=all_data_2016['2016 power_home'][i]/all_data_2016['2016 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [31]:
all_data_2016['HT_goals']=all_data_2016['HT_goals'].apply(lambda team: int(team))
all_data_2016['AT_goals']=all_data_2016['AT_goals'].apply(lambda team: int(team))
all_data_2016['result']=4
for i in range(all_data_2016.shape[0]):
    if all_data_2016['HT_goals'][i]>all_data_2016['AT_goals'][i]:
        all_data_2016['result'][i]=1
    if all_data_2016['HT_goals'][i]==all_data_2016['AT_goals'][i]:
        all_data_2016['result'][i]=0
    if all_data_2016['HT_goals'][i]<all_data_2016['AT_goals'][i]:
        all_data_2016['result'][i]=2

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
all_data_2016.drop(['Ovr_away','Def_away','Mid_away','Fwd_away','Phy_away','Spd_away','2016 power_away','2016 power_home','Spd_home','Phy_home','Fwd_home','Mid_home','Def_home','Ovr_home','competitionName','year_away','year_home','AT_goals','AT_id','HT_goals','HT_id','awayTeamName','competitionId','date' ,'gameId','homeTeamName'],axis=1,inplace=True)

In [33]:
all_data_2016.head()

,year,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2016 power_ratio,result
0,2016,1.283582,1.238806,1.323077,1.185714,1.108108,1.112676,2.543610,1
1,2016,1.246377,1.169014,1.246377,1.238806,1.108108,1.067568,5.580073,1
2,2016,1.061728,1.024691,1.036145,1.024691,1.037975,1.000000,1.246665,1
3,2016,1.061728,1.037500,1.102564,0.912088,1.025000,1.025974,1.478227,1
4,2016,1.211268,1.185714,1.228571,1.152778,1.154930,1.067568,3.733939,1

In [34]:
from sklearn.linear_model import LogisticRegression
X_train=all_data_2016.drop(['year','result'],axis=1)
y_train=all_data_2016['result']

logmodel = LogisticRegression()

In [35]:
all_data_2016.head()

,year,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2016 power_ratio,result
0,2016,1.283582,1.238806,1.323077,1.185714,1.108108,1.112676,2.543610,1
1,2016,1.246377,1.169014,1.246377,1.238806,1.108108,1.067568,5.580073,1
2,2016,1.061728,1.024691,1.036145,1.024691,1.037975,1.000000,1.246665,1
3,2016,1.061728,1.037500,1.102564,0.912088,1.025000,1.025974,1.478227,1
4,2016,1.211268,1.185714,1.228571,1.152778,1.154930,1.067568,3.733939,1

In [36]:
all_data_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 9 columns):
year                240 non-null object
Ovr_ratio           240 non-null float64
Def_ratio           240 non-null float64
Mid_ratio           240 non-null float64
Fwd_ratio           240 non-null float64
Phy_ratio           240 non-null float64
Spd_ratio           240 non-null float64
2016 power_ratio    240 non-null float64
result              240 non-null int64
dtypes: float64(7), int64(1), object(1)
memory usage: 28.8+ KB

In [37]:
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [38]:
X_train.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2016 power_ratio
0,1.283582,1.238806,1.323077,1.185714,1.108108,1.112676,2.543610
1,1.246377,1.169014,1.246377,1.238806,1.108108,1.067568,5.580073
2,1.061728,1.024691,1.036145,1.024691,1.037975,1.000000,1.246665
3,1.061728,1.037500,1.102564,0.912088,1.025000,1.025974,1.478227
4,1.211268,1.185714,1.228571,1.152778,1.154930,1.067568,3.733939

In [39]:
result=pd.read_csv('../submission_template.csv')

In [40]:
result['gameName']=result['gameName'].apply(lambda team: team.lower())

In [41]:
def result_home(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a==0):
        return 'saudi arabia'
    if(b==0):
        return 'costa rica'
    if(c==0):
        return 'republic of korea'
    else:
        f=s.split('-')[0]
        return f

In [42]:
result['homeTeamName']=result['gameName'].apply(lambda team: result_home(team))

In [43]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,NaN,NaN,NaN,egypt
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,NaN,NaN,NaN,morocco
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,NaN,NaN,NaN,portugal
4,1249951,2018-06-16 11:00:00,341,328,france-australia,NaN,NaN,NaN,france

In [44]:
def result_away(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a>0):
        return 'saudi arabia'
    if(b>0):
        return 'costa rica'
    if(c>0):
        return 'republic of korea'
    if(len(s.split('-'))==3):
        f=s.split('-')[2]
        return f
        
    f=s.split('-')[1]
    return f

In [45]:
result['awayTeamName']=result['gameName'].apply(lambda team: result_away(team))

In [46]:
National_team_2016['homeTeamName'].loc[National_team_2016['homeTeamName']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [47]:
National_team_2016.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home','Phy_home', 'Spd_home', 'year_home', '2016 power_home']

In [48]:
National_asia.head()

           Name  Ovr  Def  Mid  Fwd  Phy  Spd  year
0         Japan   78   77   79   79   75   75  2016
1     Australia   75   73   75   74   78   75  2016
2   South Korea   72   71   76   72   77   76  2016
3  Saudi Arabia   70   68   70   70   72   78  2016
4         China   68   67   68    0   74   72  2016

In [49]:
result_2016=pd.merge(result,National_team_2016,how='inner',on='homeTeamName')

In [50]:
National_team_2016.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2016 power_away']

In [51]:
result_2016=pd.merge(result_2016,National_team_2016,how='inner',on='awayTeamName')

In [52]:
result_2016.head(1)

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName,awayTeamName,...,year_home,2016 power_home,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2016 power_away
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia,saudi arabia,...,2016,362.25,70,68,70,70,72,78,2016,380.91

In [53]:
result_2016['Fwd_away'].loc[result_2016['gameId']==1249930]=84
result_2016['Fwd_away'].loc[result_2016['gameId']==1249919]=84

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [54]:
result_2016['Ovr_ratio']=0.0
result_2016['Def_ratio']=0.0
result_2016['Mid_ratio']=0.0
result_2016['Fwd_ratio']=0.0
result_2016['Phy_ratio']=0.0
result_2016['Spd_ratio']=0.0
result_2016['2016 power_ratio']=0.0
for i in range(result_2016.shape[0]):

    result_2016['Ovr_ratio'][i]=result_2016['Ovr_home'][i]/result_2016['Ovr_away'][i]
    result_2016['Def_ratio'][i]=result_2016['Def_home'][i]/result_2016['Def_away'][i]
    result_2016['Mid_ratio'][i]=result_2016['Mid_home'][i]/result_2016['Mid_away'][i]
    result_2016['Fwd_ratio'][i]=result_2016['Fwd_home'][i]/result_2016['Fwd_away'][i]
    result_2016['Phy_ratio'][i]=result_2016['Phy_home'][i]/result_2016['Phy_away'][i]
    result_2016['Spd_ratio'][i]=result_2016['Spd_home'][i]/result_2016['Spd_away'][i]
    result_2016['2016 power_ratio'][i]=result_2016['2016 power_home'][i]/result_2016['2016 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [55]:
X_test=result_2016.drop(['gameId', 'gameDate', 'homeTeamId', 'awayTeamId', 'gameName', 'p1',
       'px', 'p2', 'homeTeamName', 'awayTeamName', 'Ovr_home', 'Def_home',
       'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home',
       '2016 power_home', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away',
       'Phy_away', 'Spd_away', 'year_away', '2016 power_away'],axis=1)

In [56]:
prediction=logmodel.predict_proba(X_test)
prediction1=logmodel.predict(X_test)

In [57]:
X_test.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2016 power_ratio
0,1.114286,1.147059,1.100000,1.100000,1.083333,0.974359,0.951012
1,1.157143,1.176471,1.114286,1.300000,1.111111,0.987179,1.474023
2,1.098592,1.147059,1.115942,1.132353,1.054054,1.027027,1.092365
3,0.985915,1.000000,1.014493,1.029412,0.972973,1.054054,1.148634
4,0.876543,0.850000,0.884615,0.747253,0.925000,0.961039,0.590628

In [58]:
prediction1

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 0, 1, 2, 1, 0,
       1, 1], dtype=int64)

In [59]:
prediction.shape[0]

48

In [60]:
result.shape

(48, 10)

In [61]:
for i in range(result.shape[0]):
    result['p2'][i]=prediction[i][2]
    result['p1'][i]=prediction[i][1]
    result['px'][i]=prediction[i][0]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [62]:
result.drop(['homeTeamName','awayTeamName'],axis=1,inplace=True)

In [63]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,0.501633,0.259579,0.238788
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,0.599842,0.221105,0.179052
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,0.524460,0.253416,0.222124
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,0.476204,0.281746,0.242050
4,1249951,2018-06-16 11:00:00,341,328,france-australia,0.325589,0.339437,0.334973

In [64]:
result.to_csv('submission_template_2016.csv')