In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from datetime import date
from tqdm import tqdm

In [2]:
df=pd.read_csv('../basicData.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86391 entries, 0 to 86390
Data columns (total 10 columns):
gameId             86391 non-null int64
HT_goals           86391 non-null int64
competitionName    86391 non-null object
awayTeamName       86391 non-null object
homeTeamName       86391 non-null object
date               86391 non-null object
AT_goals           86391 non-null int64
HT_id              86391 non-null int64
competitionId      81394 non-null float64
AT_id              86391 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.6+ MB

In [4]:
df['date'] = df['date'].apply(lambda Date: Date.split(' ')[0])

In [5]:
df['year'] = df['date'].apply(lambda Date: Date.split('-')[0])

In [6]:
df['awayTeamName']=df['awayTeamName'].apply(lambda team: team.lower())
df['homeTeamName']=df['homeTeamName'].apply(lambda team: team.lower())

In [7]:
df.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
0,669044,2,Finnish Veikkausliiga,jjk jyvaskyla,kps kuopio,2013-07-15,1,2031,208.0,5086,2013
1,668800,3,Swedish Allsvenskan,osters,helsingborgs,2013-07-15,0,1296,205.0,1954,2013
2,677919,6,Champions League,eb streymur,dinamo tbilisi,2013-07-16,1,823,66.0,4441,2013
3,677924,3,Champions League,vardar skopje,steaua,2013-07-16,0,2251,66.0,2669,2013
4,677931,2,Champions League,ludogorets,s. bratislava,2013-07-17,1,2368,66.0,5344,2013

In [8]:
import requests

url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/index.html'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

score_fifa = pd.read_html(r.text)
score_fifa=score_fifa[0]

In [9]:
score_fifa=score_fifa.drop([' ', '2018 (100 %)', '2016 (30 %)', '2015 (20 %)',
      'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12',
       'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],axis=1)

In [10]:
score_fifa.columns=['Name','Total Points','2018 power','2017 power','2016 power','2015 power']

In [11]:
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split('(')[1])
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split(')')[0])

In [12]:
score_fifa['Total Points']=score_fifa['Total Points'].astype(float)

In [13]:
score_fifa.head()

        Name  Total Points  2018 power  2017 power  2016 power  2015 power
0    Germany       1558.49      775.06      832.00      424.26     1200.77
1     Brazil       1430.57      558.95     1082.36      560.21      811.88
2    Belgium       1298.32      629.98      645.63      529.80      932.92
3   Portugal       1273.69      646.92      691.82      517.77      627.63
4  Argentina       1241.45      404.07      809.59      829.98      917.94

*** 2018 ***

In [14]:
amicaux=pd.read_excel('amical2018.xlsx')

In [15]:
amicaux['AT_goals']=amicaux['HT_goals'].apply(lambda goal: goal.split(':')[0])

In [16]:
amicaux['HT_goals']=amicaux['HT_goals'].apply(lambda goal: goal.split(':')[1])

In [17]:
amicaux=amicaux.drop(['Unnamed: 4'],axis=1)

In [18]:
amicaux.columns=['date','awayTeamName','homeTeamName','HT_goals','AT_goals']

In [19]:
amicaux['awayTeamName']=amicaux['awayTeamName'].apply(lambda team: str(team))

amicaux['awayTeamName']=amicaux['awayTeamName'].apply(lambda team: team.lower())

amicaux['homeTeamName']=amicaux['homeTeamName'].apply(lambda team: str(team))

amicaux['homeTeamName']=amicaux['homeTeamName'].apply(lambda team: team.lower())

In [20]:
amicaux.head()

           date awayTeamName homeTeamName HT_goals AT_goals
0  10.06. 16:30        india        kenya        0       2
1  10.06. 16:00      austria       brazil        3       0
2  09.06. 21:00       france          usa        1       1
3  09.06. 20:45        spain      tunisia        0       1
4  09.06. 20:00      denmark       mexico        0       2

In [21]:
df2018=df[df['year']=='2018']

In [22]:
match_2018=pd.concat([amicaux,df2018],join="outer")

In [23]:
match_2018['year']='2018'

In [24]:
National_europe = pd.read_html('http://www.pesmaster.com/national-teams-europe/pes-2018/league/90/')
National_europe=National_europe[1]
National_europe['year']='2018'

National_africa = pd.read_html('http://www.pesmaster.com/national-teams-africa/pes-2018/league/91/')
National_africa=National_africa[1]
National_africa['year']='2018'

National_South_Am=pd.read_html('http://www.pesmaster.com/national-teams-south-america/pes-2018/league/93/')
National_South_Am=National_South_Am[1]
National_South_Am['year']='2018'

National_america = pd.read_html('http://www.pesmaster.com/national-teams-north-america/pes-2018/league/92/')
National_america=National_america[1]
National_america['year']='2018'

National_asia = pd.read_html('http://www.pesmaster.com/national-teams-asia/pes-2018/league/94/')
National_asia=National_asia[1]
National_asia['year']='2018'

National_team=[National_europe,National_africa,National_South_Am,National_america,National_asia]
National_team=pd.concat(National_team)

In [25]:
National_team['Name']=National_team['Name'].apply(lambda team: team.lower())

In [26]:
score_fifa_2018=score_fifa[['Name','2018 power']]
score_fifa_2018['Name']=score_fifa_2018['Name'].apply(lambda team: team.lower())

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
score_fifa_2018['Name'].loc[score_fifa_2018['Name']=='ir iran']='iran'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
score_fifa_2018['Name'].loc[score_fifa_2018['Name']=='Korea Republic']='Republic of Korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
National_team_2018=pd.merge(National_team,score_fifa_2018,how='inner',on='Name')

In [30]:
National_team_2018.head(1)

    Name  Ovr  Def  Mid  Fwd  Phy  Spd  year  2018 power
0  spain   86   86   87   84   76   76  2018      537.05

In [31]:
National_team_2018.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2018 power_away']

In [32]:
all_data_2018=pd.merge(match_2018,National_team_2018,how='inner',on='awayTeamName')

In [33]:
all_data_2018.head(1)

,AT_goals,AT_id,HT_goals,HT_id,awayTeamName,competitionId,competitionName,date,gameId,homeTeamName,year,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2018 power_away
0,0,NaN,3,NaN,austria,NaN,NaN,10.06. 16:00,NaN,brazil,2018,78,79,78,76,78,76,2018,456.27

In [34]:
National_team_2018.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home', '2018 power_home']

In [35]:
all_data_2018=pd.merge(all_data_2018,National_team_2018,how='inner',on='homeTeamName')

In [36]:
all_data_2018.tail(1)

,AT_goals,AT_id,HT_goals,HT_id,awayTeamName,competitionId,competitionName,date,gameId,homeTeamName,...,year_away,2018 power_away,Ovr_home,Def_home,Mid_home,Fwd_home,Phy_home,Spd_home,year_home,2018 power_home
94,0,NaN,1,NaN,netherlands,NaN,NaN,23.03. 20:45,NaN,england,...,2018,545.74,82,83,82,83,74,82,2018,476.42

In [37]:
all_data_2018['HT_goals']=all_data_2018['HT_goals'].apply(lambda team: int(team))
all_data_2018['AT_goals']=all_data_2018['AT_goals'].apply(lambda team: int(team))

In [38]:
all_data_2018['result']=4

In [39]:
for i in range(all_data_2018.shape[0]):
    if all_data_2018['HT_goals'][i]>all_data_2018['AT_goals'][i]:
        all_data_2018['result'][i]=1
    if all_data_2018['HT_goals'][i]==all_data_2018['AT_goals'][i]:
        all_data_2018['result'][i]=0
    if all_data_2018['HT_goals'][i]<all_data_2018['AT_goals'][i]:
        all_data_2018['result'][i]=2

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [40]:
all_data_2018['Ovr_ratio']=0.0
all_data_2018['Def_ratio']=0.0
all_data_2018['Mid_ratio']=0.0
all_data_2018['Fwd_ratio']=0.0
all_data_2018['Phy_ratio']=0.0
all_data_2018['Spd_ratio']=0.0
all_data_2018['2018 power_ratio']=0.0
for i in range(all_data_2018.shape[0]):
    all_data_2018['Ovr_ratio'][i]=all_data_2018['Ovr_home'][i]/all_data_2018['Ovr_away'][i]
    all_data_2018['Def_ratio'][i]=all_data_2018['Def_home'][i]/all_data_2018['Def_away'][i]
    all_data_2018['Mid_ratio'][i]=all_data_2018['Mid_home'][i]/all_data_2018['Mid_away'][i]
    all_data_2018['Fwd_ratio'][i]=all_data_2018['Fwd_home'][i]/all_data_2018['Fwd_away'][i]
    all_data_2018['Phy_ratio'][i]=all_data_2018['Phy_home'][i]/all_data_2018['Phy_away'][i]
    all_data_2018['Spd_ratio'][i]=all_data_2018['Spd_home'][i]/all_data_2018['Spd_away'][i]
    all_data_2018['2018 power_ratio'][i]=all_data_2018['2018 power_home'][i]/all_data_2018['2018 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [41]:
all_data_2018.drop(['Ovr_away','Def_away','Mid_away','Fwd_away','Phy_away','Spd_away','2018 power_away','2018 power_home','Spd_home','Phy_home','Fwd_home','Mid_home','Def_home','Ovr_home','competitionName','year_away','year_home','AT_goals','AT_id','HT_goals','HT_id','awayTeamName','competitionId','date' ,'gameId','homeTeamName'],axis=1,inplace=True)

In [42]:
all_data_2018.head(1)

,year,result,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2018 power_ratio
0,2018,1,1.089744,1.113924,1.038462,1.118421,0.961538,1.052632,1.225042

In [43]:
from sklearn.linear_model import LogisticRegression
X_train=all_data_2018.drop(['year','result'],axis=1)
y_train=all_data_2018['result']

logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [44]:
X_train.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2018 power_ratio
0,1.089744,1.113924,1.038462,1.118421,0.961538,1.052632,1.225042
1,1.000000,1.000000,0.975904,1.011905,0.961538,1.066667,0.721170
2,1.118421,1.173333,1.051948,1.148649,1.027397,1.095890,3.365749
3,1.089744,1.113924,1.064103,1.105263,1.000000,0.986842,1.698687
4,0.974359,0.949367,0.987179,0.973684,0.935897,0.960526,0.363973

In [45]:
result=pd.read_csv('../submission_template.csv')

In [46]:
result['gameName']=result['gameName'].apply(lambda team: team.lower())

In [47]:
def result_home(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a==0):
        return 'saudi arabia'
    if(b==0):
        return 'costa rica'
    if(c==0):
        return 'republic of korea'
    else:
        f=s.split('-')[0]
        return f

In [48]:
result['homeTeamName']=result['gameName'].apply(lambda team: result_home(team))

In [49]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,NaN,NaN,NaN,egypt
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,NaN,NaN,NaN,morocco
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,NaN,NaN,NaN,portugal
4,1249951,2018-06-16 11:00:00,341,328,france-australia,NaN,NaN,NaN,france

In [50]:
def result_away(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a>0):
        return 'saudi arabia'
    if(b>0):
        return 'costa rica'
    if(c>0):
        return 'republic of korea'
    if(len(s.split('-'))==3):
        f=s.split('-')[2]
        return f
        
    f=s.split('-')[1]
    return f

In [51]:
result['awayTeamName']=result['gameName'].apply(lambda team: result_away(team))

In [52]:
National_team_2018['homeTeamName'].loc[National_team_2018['homeTeamName']=='korea dpr']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [53]:
National_team_2018.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home','Phy_home', 'Spd_home', 'year_home', '2018 power_home']

In [54]:
result_2018=pd.merge(result,National_team_2018,how='inner',on='homeTeamName')

In [55]:
National_team_2018.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2018 power_away']

In [56]:
result_2018=pd.merge(result_2018,National_team_2018,how='inner',on='awayTeamName')

In [57]:
result_2018['Ovr_ratio']=0.0
result_2018['Def_ratio']=0.0
result_2018['Mid_ratio']=0.0
result_2018['Fwd_ratio']=0.0
result_2018['Phy_ratio']=0.0
result_2018['Spd_ratio']=0.0
result_2018['2018 power_ratio']=0.0
for i in range(result_2018.shape[0]):
    result_2018['Ovr_ratio'][i]=result_2018['Ovr_home'][i]/result_2018['Ovr_away'][i]
    result_2018['Def_ratio'][i]=result_2018['Def_home'][i]/result_2018['Def_away'][i]
    result_2018['Mid_ratio'][i]=result_2018['Mid_home'][i]/result_2018['Mid_away'][i]
    result_2018['Fwd_ratio'][i]=result_2018['Fwd_home'][i]/result_2018['Fwd_away'][i]
    result_2018['Phy_ratio'][i]=result_2018['Phy_home'][i]/result_2018['Phy_away'][i]
    result_2018['Spd_ratio'][i]=result_2018['Spd_home'][i]/result_2018['Spd_away'][i]
    result_2018['2018 power_ratio'][i]=result_2018['2018 power_home'][i]/result_2018['2018 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [58]:
X_test=result_2018.drop(['gameId', 'gameDate', 'homeTeamId', 'awayTeamId', 'gameName', 'p1',
       'px', 'p2', 'homeTeamName', 'awayTeamName', 'Ovr_home', 'Def_home',
       'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home',
       '2018 power_home', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away',
       'Phy_away', 'Spd_away', 'year_away', '2018 power_away'],axis=1)

In [59]:
prediction=logmodel.predict_proba(X_test)
prediction1=logmodel.predict(X_test)

In [60]:
for i in range(result.shape[0]):
    result['p2'][i]=prediction[i][2]
    result['p1'][i]=prediction[i][1]
    result['px'][i]=prediction[i][0]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [61]:
result.drop(['homeTeamName','awayTeamName'],axis=1,inplace=True)

In [62]:
result.to_csv('submission_template_2018.csv')