In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from datetime import date
from tqdm import tqdm

In [2]:
df=pd.read_csv('../basicData.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86391 entries, 0 to 86390
Data columns (total 10 columns):
gameId             86391 non-null int64
HT_goals           86391 non-null int64
competitionName    86391 non-null object
awayTeamName       86391 non-null object
homeTeamName       86391 non-null object
date               86391 non-null object
AT_goals           86391 non-null int64
HT_id              86391 non-null int64
competitionId      81394 non-null float64
AT_id              86391 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.6+ MB

In [4]:
df['date'] = df['date'].apply(lambda Date: Date.split(' ')[0])

In [5]:
df['year'] = df['date'].apply(lambda Date: Date.split('-')[0])

In [6]:
df['awayTeamName']=df['awayTeamName'].apply(lambda team: team.lower())
df['homeTeamName']=df['homeTeamName'].apply(lambda team: team.lower())

In [7]:
df.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
0,669044,2,Finnish Veikkausliiga,jjk jyvaskyla,kps kuopio,2013-07-15,1,2031,208.0,5086,2013
1,668800,3,Swedish Allsvenskan,osters,helsingborgs,2013-07-15,0,1296,205.0,1954,2013
2,677919,6,Champions League,eb streymur,dinamo tbilisi,2013-07-16,1,823,66.0,4441,2013
3,677924,3,Champions League,vardar skopje,steaua,2013-07-16,0,2251,66.0,2669,2013
4,677931,2,Champions League,ludogorets,s. bratislava,2013-07-17,1,2368,66.0,5344,2013

In [8]:
import requests

url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/index.html'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

score_fifa = pd.read_html(r.text)
score_fifa=score_fifa[0]

In [9]:
score_fifa=score_fifa.drop([' ', '2018 (100 %)', '2016 (30 %)', '2015 (20 %)',
      'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12',
       'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],axis=1)

In [10]:
score_fifa.columns=['Name','Total Points','2018 power','2017 power','2016 power','2015 power']

In [11]:
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split('(')[1])
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split(')')[0])

In [12]:
score_fifa['Total Points']=score_fifa['Total Points'].astype(float)

In [13]:
score_fifa.head()

        Name  Total Points  2018 power  2017 power  2016 power  2015 power
0    Germany       1558.49      775.06      832.00      424.26     1200.77
1     Brazil       1430.57      558.95     1082.36      560.21      811.88
2    Belgium       1298.32      629.98      645.63      529.80      932.92
3   Portugal       1273.69      646.92      691.82      517.77      627.63
4  Argentina       1241.45      404.07      809.59      829.98      917.94

*** 2015 ***

In [14]:
National_europe = pd.read_html('http://www.pesmaster.com/national-teams-europe/pes-2015/league/90/')
National_europe=National_europe[1]
National_europe['year']='2015'

National_africa = pd.read_html('http://www.pesmaster.com/national-teams-africa/pes-2015/league/91/')
National_africa=National_africa[1]
National_africa['year']='2015'

National_South_Am=pd.read_html('http://www.pesmaster.com/national-teams-south-america/pes-2015/league/93/')
National_South_Am=National_South_Am[1]
National_South_Am['year']='2015'

National_america = pd.read_html('http://www.pesmaster.com/national-teams-north-america/pes-2015/league/92/')
National_america=National_america[1]
National_america['year']='2015'

National_asia = pd.read_html('http://www.pesmaster.com/national-teams-asia/pes-2015/league/94/')
National_asia=National_asia[1]
National_asia['year']='2015'

National_team=[National_europe,National_africa,National_South_Am,National_america,National_asia]
National_team=pd.concat(National_team)

In [15]:
National_team = National_team.append({'Name': 'iceland','Ovr':73,'Def':70,'Mid':72,'Fwd':73,'Phy':77,'Spd':72,'year':'2015'}, ignore_index=True)

In [16]:
National_team.tail()

           Name  Ovr  Def  Mid  Fwd  Phy  Spd  year
77  North Korea   66   67   64   65   74   71  2015
78          UAE   66   72   65   64   73   72  2015
79       Kuwait   64   62   65   64   73   70  2015
80        Qatar   63   62   61   65   74   71  2015
81      iceland   73   70   72   73   77   72  2015

In [17]:
National_team['Name']=National_team['Name'].apply(lambda team: team.lower())

In [18]:
National_team['Name'].loc[National_team['Name']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
score_fifa_2015=score_fifa[['Name','2015 power']]
score_fifa_2015['Name']=score_fifa_2015['Name'].apply(lambda team: team.lower())

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
score_fifa_2015['Name'].loc[score_fifa_2015['Name']=='ir iran']='iran'
score_fifa_2015['Name'].loc[score_fifa_2015['Name']=='korea republic']='republic of korea'
score_fifa_2015['Name'].loc[score_fifa_2015['Name']=='Korea Republic']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
National_team_2015=pd.merge(National_team,score_fifa_2015,how='inner',on='Name')

In [22]:
National_team_2015.head()

          Name  Ovr  Def  Mid  Fwd  Phy  Spd  year  2015 power
0        spain   85   85   86   84   79   76  2015      443.99
1       france   83   82   84   85   81   79  2015      657.68
2      germany   83   81   83   84   81   76  2015     1200.77
3        italy   83   80   83   82   81   77  2015      592.70
4  netherlands   82   80   81   85   80   78  2015      928.10

In [23]:
National_team_2015.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2015 power_away']

In [24]:
df2015=df[df['year']=='2015']

In [25]:
df2015.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
24449,705381,0,FA Trophy,dover,havant & w,2015-01-10,1,3056,78.0,804,2015
24450,705382,2,FA Trophy,hyde,nth ferriby,2015-01-10,0,961,78.0,1332,2015
24451,705383,1,FA Trophy,forest green,ebbsfleet,2015-01-10,0,1149,78.0,1048,2015
24452,705384,0,FA Trophy,braintree,gosport bor,2015-01-10,2,1158,78.0,423,2015
24453,705385,5,FA Trophy,alfreton,halifax,2015-01-10,3,1186,78.0,94,2015

In [26]:
all_data_2015=pd.merge(df2015,National_team_2015,how='inner',on='awayTeamName')

In [27]:
all_data_2015.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2015 power_away
0,706067,1,International,algeria,tunisia,2015-01-11,1,2015,83.0,67,2015,74,74,74,77,78,74,2015,508.13
1,705159,1,Africa Cup Of Nations,algeria,ghana,2015-01-23,0,3116,98.0,67,2015,74,74,74,77,78,74,2015,508.13
2,705167,0,Africa Cup Of Nations,algeria,senegal,2015-01-27,2,3121,98.0,67,2015,74,74,74,77,78,74,2015,508.13
3,705244,3,Africa Cup Of Nations,algeria,ivory coast,2015-02-01,1,3115,98.0,67,2015,74,74,74,77,78,74,2015,508.13
4,707260,1,International,algeria,qatar,2015-03-26,0,3124,83.0,67,2015,74,74,74,77,78,74,2015,508.13

In [28]:
National_team_2015.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home', '2015 power_home']

In [29]:
all_data_2015=pd.merge(all_data_2015,National_team_2015,how='inner',on='homeTeamName')

In [30]:
all_data_2015['HT_goals']=all_data_2015['HT_goals'].apply(lambda team: int(team))
all_data_2015['AT_goals']=all_data_2015['AT_goals'].apply(lambda team: int(team))
all_data_2015['result']=4
for i in range(all_data_2015.shape[0]):
    if all_data_2015['HT_goals'][i]>all_data_2015['AT_goals'][i]:
        all_data_2015['result'][i]=1
    if all_data_2015['HT_goals'][i]==all_data_2015['AT_goals'][i]:
        all_data_2015['result'][i]=0
    if all_data_2015['HT_goals'][i]<all_data_2015['AT_goals'][i]:
        all_data_2015['result'][i]=2

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [31]:
all_data_2015['Ovr_ratio']=0.0
all_data_2015['Def_ratio']=0.0
all_data_2015['Mid_ratio']=0.0
all_data_2015['Fwd_ratio']=0.0
all_data_2015['Phy_ratio']=0.0
all_data_2015['Spd_ratio']=0.0
all_data_2015['2015 power_ratio']=0.0
for i in range(all_data_2015.shape[0]):

    all_data_2015['Ovr_ratio'][i]=all_data_2015['Ovr_home'][i]/all_data_2015['Ovr_away'][i]
    all_data_2015['Def_ratio'][i]=all_data_2015['Def_home'][i]/all_data_2015['Def_away'][i]
    all_data_2015['Mid_ratio'][i]=all_data_2015['Mid_home'][i]/all_data_2015['Mid_away'][i]
    all_data_2015['Fwd_ratio'][i]=all_data_2015['Fwd_home'][i]/all_data_2015['Fwd_away'][i]
    all_data_2015['Phy_ratio'][i]=all_data_2015['Phy_home'][i]/all_data_2015['Phy_away'][i]
    all_data_2015['Spd_ratio'][i]=all_data_2015['Spd_home'][i]/all_data_2015['Spd_away'][i]
    all_data_2015['2015 power_ratio'][i]=all_data_2015['2015 power_home'][i]/all_data_2015['2015 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [32]:
all_data_2015.drop(['Ovr_away','Def_away','Mid_away','Fwd_away','Phy_away','Spd_away','2015 power_away','2015 power_home','Spd_home','Phy_home','Fwd_home','Mid_home','Def_home','Ovr_home','competitionName','year_away','year_home','AT_goals','AT_id','HT_goals','HT_id','awayTeamName','competitionId','date' ,'gameId','homeTeamName'],axis=1,inplace=True)

In [33]:
all_data_2015.head()

,year,result,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2015 power_ratio
0,2015,0,0.918919,0.918919,0.891892,0.922078,0.935897,1.000000,0.970992
1,2015,1,1.027027,1.000000,1.040541,1.025974,1.025641,1.067568,0.911479
2,2015,1,1.169231,1.121212,1.222222,1.128571,1.052632,1.082192,1.162292
3,2015,2,1.027027,0.973684,1.069444,1.012821,1.025641,1.039474,0.791804
4,2015,2,1.027027,0.973684,1.069444,1.012821,1.025641,1.039474,0.791804

In [34]:
from sklearn.linear_model import LogisticRegression
X_train=all_data_2015.drop(['year','result'],axis=1)
y_train=all_data_2015['result']

logmodel = LogisticRegression()

In [35]:
all_data_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 222 entries, 0 to 221
Data columns (total 9 columns):
year                222 non-null object
result              222 non-null int64
Ovr_ratio           222 non-null float64
Def_ratio           222 non-null float64
Mid_ratio           222 non-null float64
Fwd_ratio           222 non-null float64
Phy_ratio           222 non-null float64
Spd_ratio           222 non-null float64
2015 power_ratio    222 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 27.3+ KB

In [36]:
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [37]:
X_train.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2015 power_ratio
0,0.918919,0.918919,0.891892,0.922078,0.935897,1.000000,0.970992
1,1.027027,1.000000,1.040541,1.025974,1.025641,1.067568,0.911479
2,1.169231,1.121212,1.222222,1.128571,1.052632,1.082192,1.162292
3,1.027027,0.973684,1.069444,1.012821,1.025641,1.039474,0.791804
4,1.027027,0.973684,1.069444,1.012821,1.025641,1.039474,0.791804

In [38]:
result=pd.read_csv('../submission_template.csv')

In [39]:
result['gameName']=result['gameName'].apply(lambda team: team.lower())

In [40]:
def result_home(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a==0):
        return 'saudi arabia'
    if(b==0):
        return 'costa rica'
    if(c==0):
        return 'republic of korea'
    else:
        f=s.split('-')[0]
        return f

In [41]:
result['homeTeamName']=result['gameName'].apply(lambda team: result_home(team))

In [42]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,NaN,NaN,NaN,egypt
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,NaN,NaN,NaN,morocco
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,NaN,NaN,NaN,portugal
4,1249951,2018-06-16 11:00:00,341,328,france-australia,NaN,NaN,NaN,france

In [43]:
def result_away(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a>0):
        return 'saudi arabia'
    if(b>0):
        return 'costa rica'
    if(c>0):
        return 'republic of korea'
    if(len(s.split('-'))==3):
        f=s.split('-')[2]
        return f
        
    f=s.split('-')[1]
    return f

In [44]:
result['awayTeamName']=result['gameName'].apply(lambda team: result_away(team))

In [45]:
National_team_2015['homeTeamName'].loc[National_team_2015['homeTeamName']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [46]:
National_team_2015.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home','Phy_home', 'Spd_home', 'year_home', '2015 power_home']

In [47]:
National_asia.head()

          Name  Ovr  Def  Mid  Fwd  Phy  Spd  year
0    Australia   75   75   77   71   78   76  2015
1        Japan   75   74   77   76   74   73  2015
2  South Korea   72   70   73   76   76   74  2015
3   Uzbekistan   72   72   72   71   76   74  2015
4        China   71   74   70   68   76   73  2015

In [48]:
result_2015=pd.merge(result,National_team_2015,how='inner',on='homeTeamName')

In [49]:
National_team_2015.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2015 power_away']

In [50]:
result_2015=pd.merge(result_2015,National_team_2015,how='inner',on='awayTeamName')

In [51]:
result_2015.head(1)

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName,awayTeamName,...,year_home,2015 power_home,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2015 power_away
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia,saudi arabia,...,2015,368.5,70,70,71,71,76,73,2015,135.09

In [52]:
result_2015['Ovr_ratio']=0.0
result_2015['Def_ratio']=0.0
result_2015['Mid_ratio']=0.0
result_2015['Fwd_ratio']=0.0
result_2015['Phy_ratio']=0.0
result_2015['Spd_ratio']=0.0
result_2015['2015 power_ratio']=0.0
for i in range(result_2015.shape[0]):
 
    result_2015['Ovr_ratio'][i]=result_2015['Ovr_home'][i]/result_2015['Ovr_away'][i]
    result_2015['Def_ratio'][i]=result_2015['Def_home'][i]/result_2015['Def_away'][i]
    result_2015['Mid_ratio'][i]=result_2015['Mid_home'][i]/result_2015['Mid_away'][i]
    result_2015['Fwd_ratio'][i]=result_2015['Fwd_home'][i]/result_2015['Fwd_away'][i]
    result_2015['Phy_ratio'][i]=result_2015['Phy_home'][i]/result_2015['Phy_away'][i]
    result_2015['Spd_ratio'][i]=result_2015['Spd_home'][i]/result_2015['Spd_away'][i]
    result_2015['2015 power_ratio'][i]=result_2015['2015 power_home'][i]/result_2015['2015 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [53]:
X_test=result_2015.drop(['gameId', 'gameDate', 'homeTeamId', 'awayTeamId', 'gameName', 'p1',
       'px', 'p2', 'homeTeamName', 'awayTeamName', 'Ovr_home', 'Def_home',
       'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home',
       '2015 power_home', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away',
       'Phy_away', 'Spd_away', 'year_away', '2015 power_away'],axis=1)

In [54]:
prediction=logmodel.predict_proba(X_test)
prediction1=logmodel.predict(X_test)

In [55]:
X_test.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2015 power_ratio
0,1.057143,1.042857,1.056338,1.042254,1.013158,1.013699,2.727811
1,1.128571,1.128571,1.070423,1.154930,1.052632,1.027397,4.436006
2,1.057143,1.057971,1.027397,1.057143,1.013158,1.027778,1.455486
3,1.000000,1.014493,0.972603,1.014286,1.000000,1.013889,0.533573
4,0.886076,0.873418,0.960526,0.853659,0.950000,0.960000,0.422488

In [56]:
prediction.shape[0]

48

In [57]:
result.shape

(48, 10)

In [58]:
for i in range(result.shape[0]):
    result['p2'][i]=prediction[i][2]
    result['p1'][i]=prediction[i][1]
    result['px'][i]=prediction[i][0]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [59]:
result.drop(['homeTeamName','awayTeamName'],axis=1,inplace=True)

In [60]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,0.570977,0.292268,0.136755
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,0.654494,0.300519,0.044987
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,0.486202,0.252141,0.261658
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,0.389020,0.228406,0.382575
4,1249951,2018-06-16 11:00:00,341,328,france-australia,0.343663,0.248637,0.407700

In [61]:
result.to_csv('submission_template_2015.csv')