In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from datetime import date
from tqdm import tqdm

In [2]:
df=pd.read_csv('../basicData.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86391 entries, 0 to 86390
Data columns (total 10 columns):
gameId             86391 non-null int64
HT_goals           86391 non-null int64
competitionName    86391 non-null object
awayTeamName       86391 non-null object
homeTeamName       86391 non-null object
date               86391 non-null object
AT_goals           86391 non-null int64
HT_id              86391 non-null int64
competitionId      81394 non-null float64
AT_id              86391 non-null int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.6+ MB

In [4]:
df['date'] = df['date'].apply(lambda Date: Date.split(' ')[0])

In [5]:
df['year'] = df['date'].apply(lambda Date: Date.split('-')[0])

In [6]:
df['awayTeamName']=df['awayTeamName'].apply(lambda team: team.lower())
df['homeTeamName']=df['homeTeamName'].apply(lambda team: team.lower())

In [7]:
df.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
0,669044,2,Finnish Veikkausliiga,jjk jyvaskyla,kps kuopio,2013-07-15,1,2031,208.0,5086,2013
1,668800,3,Swedish Allsvenskan,osters,helsingborgs,2013-07-15,0,1296,205.0,1954,2013
2,677919,6,Champions League,eb streymur,dinamo tbilisi,2013-07-16,1,823,66.0,4441,2013
3,677924,3,Champions League,vardar skopje,steaua,2013-07-16,0,2251,66.0,2669,2013
4,677931,2,Champions League,ludogorets,s. bratislava,2013-07-17,1,2368,66.0,5344,2013

In [8]:
import requests

url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/index.html'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

score_fifa = pd.read_html(r.text)
score_fifa=score_fifa[0]

In [9]:
score_fifa=score_fifa.drop([' ', '2018 (100 %)', '2016 (30 %)', '2015 (20 %)',
      'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12',
       'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],axis=1)

In [10]:
score_fifa.columns=['Name','Total Points','2018 power','2017 power','2016 power','2015 power']

In [11]:
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split('(')[1])
score_fifa['Total Points'] = score_fifa['Total Points'].apply(lambda x: x.split(')')[0])

In [12]:
score_fifa['Total Points']=score_fifa['Total Points'].astype(float)

In [13]:
score_fifa.head()

        Name  Total Points  2018 power  2017 power  2016 power  2015 power
0    Germany       1558.49      775.06      832.00      424.26     1200.77
1     Brazil       1430.57      558.95     1082.36      560.21      811.88
2    Belgium       1298.32      629.98      645.63      529.80      932.92
3   Portugal       1273.69      646.92      691.82      517.77      627.63
4  Argentina       1241.45      404.07      809.59      829.98      917.94

*** 2017 ***

In [14]:
National_europe = pd.read_html('http://www.pesmaster.com/national-teams-europe/pes-2017/league/90/')
National_europe=National_europe[1]
National_europe['year']='2017'

National_africa = pd.read_html('http://www.pesmaster.com/national-teams-africa/pes-2017/league/91/')
National_africa=National_africa[1]
National_africa['year']='2017'

National_South_Am=pd.read_html('http://www.pesmaster.com/national-teams-south-america/pes-2017/league/93/')
National_South_Am=National_South_Am[1]
National_South_Am['year']='2017'

National_america = pd.read_html('http://www.pesmaster.com/national-teams-north-america/pes-2017/league/92/')
National_america=National_america[1]
National_america['year']='2017'

National_asia = pd.read_html('http://www.pesmaster.com/national-teams-asia/pes-2017/league/94/')
National_asia=National_asia[1]
National_asia['year']='2017'

National_team=[National_europe,National_africa,National_South_Am,National_america,National_asia]
National_team=pd.concat(National_team)

In [15]:
National_team['Name']=National_team['Name'].apply(lambda team: team.lower())

In [16]:
National_team['Name'].loc[National_team['Name']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [17]:
score_fifa_2017=score_fifa[['Name','2017 power']]
score_fifa_2017['Name']=score_fifa_2017['Name'].apply(lambda team: team.lower())

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
score_fifa_2017['Name'].loc[score_fifa_2017['Name']=='ir iran']='iran'
score_fifa_2017['Name'].loc[score_fifa_2017['Name']=='korea republic']='republic of korea'
score_fifa_2017['Name'].loc[score_fifa_2017['Name']=='Korea Republic']='republic of korea'
score_fifa_2017[score_fifa_2017['Name']=='iran']

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Name  2017 power
36  iran      492.04

In [19]:
National_team_2017=pd.merge(National_team,score_fifa_2017,how='inner',on='Name')

In [20]:
National_team_2017.head(1)

    Name  Ovr  Def  Mid  Fwd  Phy  Spd  year  2017 power
0  spain   86   84   85   86   75   77  2017      611.48

In [21]:
National_team_2017.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2017 power_away']

In [22]:
df2017=df[df['year']=='2017']

In [23]:
df2017.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year
63160,734080,2,National League,bromley,sutton utd,2017-01-01,0,2496,9.0,335,2017
63161,734076,3,National League,guiseley,lincoln,2017-01-01,1,1559,9.0,1172,2017
63162,734077,4,National League,tranmere,macclesfield,2017-01-01,2,1660,9.0,2598,2017
63163,734079,3,National League,wrexham,southport,2017-01-01,2,2432,9.0,2859,2017
63164,729943,0,Australian A-League,adelaide utd,wellington,2017-01-01,0,2773,311.0,5044,2017

In [24]:
all_data_2017=pd.merge(df2017,National_team_2017,how='inner',on='awayTeamName')

In [25]:
all_data_2017.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,year,Ovr_away,Def_away,Mid_away,Fwd_away,Phy_away,Spd_away,year_away,2017 power_away
0,742668,1,International,burkina faso,morocco,2017-01-04,0,1747,83.0,3120,2017,68,66,68,71,74,76,2017,484.99
1,743916,1,International,burkina faso,mali,2017-01-07,2,3626,83.0,3120,2017,68,66,68,71,74,76,2017,484.99
2,741725,1,Africa Cup Of Nations,burkina faso,gabon,2017-01-18,1,3117,98.0,3120,2017,68,66,68,71,74,76,2017,484.99
3,741728,0,Africa Cup Of Nations,burkina faso,guinea-bissau,2017-01-22,2,4192,98.0,3120,2017,68,66,68,71,74,76,2017,484.99
4,745594,2,International,burkina faso,morocco,2017-03-24,0,1747,83.0,3120,2017,68,66,68,71,74,76,2017,484.99

In [26]:
National_team_2017.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home', '2017 power_home']

In [27]:
all_data_2017=pd.merge(all_data_2017,National_team_2017,how='inner',on='homeTeamName')

In [28]:
all_data_2017.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,...,year_away,2017 power_away,Ovr_home,Def_home,Mid_home,Fwd_home,Phy_home,Spd_home,year_home,2017 power_home
0,742668,1,International,burkina faso,morocco,2017-01-04,0,1747,83.0,3120,...,2017,484.99,69,65,66,66,73,71,2017,345.29
1,745594,2,International,burkina faso,morocco,2017-03-24,0,1747,83.0,3120,...,2017,484.99,69,65,66,66,73,71,2017,345.29
2,745642,1,International,tunisia,morocco,2017-03-28,0,1747,83.0,2015,...,2017,394.79,69,65,66,66,73,71,2017,345.29
3,733018,6,World Cup,mali,morocco,2017-09-01,0,1747,73.0,3626,...,2017,291.98,69,65,66,66,73,71,2017,345.29
4,743916,1,International,burkina faso,mali,2017-01-07,2,3626,83.0,3120,...,2017,484.99,67,65,69,67,74,73,2017,291.98

In [29]:
all_data_2017['HT_goals']=all_data_2017['HT_goals'].apply(lambda team: int(team))
all_data_2017['AT_goals']=all_data_2017['AT_goals'].apply(lambda team: int(team))
all_data_2017['result']=4
for i in range(all_data_2017.shape[0]):
    if all_data_2017['HT_goals'][i]>all_data_2017['AT_goals'][i]:
        all_data_2017['result'][i]=1
    if all_data_2017['HT_goals'][i]==all_data_2017['AT_goals'][i]:
        all_data_2017['result'][i]=0
    if all_data_2017['HT_goals'][i]<all_data_2017['AT_goals'][i]:
        all_data_2017['result'][i]=2

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
all_data_2017.head()

,gameId,HT_goals,competitionName,awayTeamName,homeTeamName,date,AT_goals,HT_id,competitionId,AT_id,...,2017 power_away,Ovr_home,Def_home,Mid_home,Fwd_home,Phy_home,Spd_home,year_home,2017 power_home,result
0,742668,1,International,burkina faso,morocco,2017-01-04,0,1747,83.0,3120,...,484.99,69,65,66,66,73,71,2017,345.29,1
1,745594,2,International,burkina faso,morocco,2017-03-24,0,1747,83.0,3120,...,484.99,69,65,66,66,73,71,2017,345.29,1
2,745642,1,International,tunisia,morocco,2017-03-28,0,1747,83.0,2015,...,394.79,69,65,66,66,73,71,2017,345.29,1
3,733018,6,World Cup,mali,morocco,2017-09-01,0,1747,73.0,3626,...,291.98,69,65,66,66,73,71,2017,345.29,1
4,743916,1,International,burkina faso,mali,2017-01-07,2,3626,83.0,3120,...,484.99,67,65,69,67,74,73,2017,291.98,2

In [31]:
all_data_2017['Ovr_ratio']=0.0
all_data_2017['Def_ratio']=0.0
all_data_2017['Mid_ratio']=0.0
all_data_2017['Fwd_ratio']=0.0
all_data_2017['Phy_ratio']=0.0
all_data_2017['Spd_ratio']=0.0
all_data_2017['2017 power_ratio']=0.0
for i in range(all_data_2017.shape[0]):
    all_data_2017['Ovr_ratio'][i]=all_data_2017['Ovr_home'][i]/all_data_2017['Ovr_away'][i]
    all_data_2017['Def_ratio'][i]=all_data_2017['Def_home'][i]/all_data_2017['Def_away'][i]
    all_data_2017['Mid_ratio'][i]=all_data_2017['Mid_home'][i]/all_data_2017['Mid_away'][i]
    all_data_2017['Fwd_ratio'][i]=all_data_2017['Fwd_home'][i]/all_data_2017['Fwd_away'][i]
    all_data_2017['Phy_ratio'][i]=all_data_2017['Phy_home'][i]/all_data_2017['Phy_away'][i]
    all_data_2017['Spd_ratio'][i]=all_data_2017['Spd_home'][i]/all_data_2017['Spd_away'][i]
    all_data_2017['2017 power_ratio'][i]=all_data_2017['2017 power_home'][i]/all_data_2017['2017 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [32]:
all_data_2017.drop(['Ovr_away','Def_away','Mid_away','Fwd_away','Phy_away','Spd_away','2017 power_away','2017 power_home','Spd_home','Phy_home','Fwd_home','Mid_home','Def_home','Ovr_home','competitionName','year_away','year_home','AT_goals','AT_id','HT_goals','HT_id','awayTeamName','competitionId','date' ,'gameId','homeTeamName'],axis=1,inplace=True)

In [33]:
all_data_2017.head(1)

,year,result,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2017 power_ratio
0,2017,1,1.014706,0.984848,0.970588,0.929577,0.986486,0.934211,0.711953

In [34]:
from sklearn.linear_model import LogisticRegression
X_train=all_data_2017.drop(['year','result'],axis=1)
y_train=all_data_2017['result']

logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
X_train.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2017 power_ratio
0,1.014706,0.984848,0.970588,0.929577,0.986486,0.934211,0.711953
1,1.014706,0.984848,0.970588,0.929577,0.986486,0.934211,0.711953
2,1.029851,0.984848,0.956522,0.985075,1.013889,1.000000,0.874617
3,1.029851,1.000000,0.956522,0.985075,0.986486,0.972603,1.182581
4,0.985294,0.984848,1.014706,0.943662,1.000000,0.960526,0.602033

In [36]:
result=pd.read_csv('../submission_template.csv')

In [37]:
result['gameName']=result['gameName'].apply(lambda team: team.lower())

In [38]:
def result_home(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a==0):
        return 'saudi arabia'
    if(b==0):
        return 'costa rica'
    if(c==0):
        return 'republic of korea'
    else:
        f=s.split('-')[0]
        return f

In [39]:
result['homeTeamName']=result['gameName'].apply(lambda team: result_home(team))

In [40]:
result.head(1)

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2,homeTeamName
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,NaN,NaN,NaN,russia

In [41]:
def result_away(str):
    result=''
    s=str
    z='saudi arabia'
    a=s.find('saudi-arabia')
    b=s.find('costa-rica')
    c=s.find('south-korea')

    if(a>0):
        return 'saudi arabia'
    if(b>0):
        return 'costa rica'
    if(c>0):
        return 'republic of korea'
    if(len(s.split('-'))==3):
        f=s.split('-')[2]
        return f
        
    f=s.split('-')[1]
    return f

In [42]:
result['awayTeamName']=result['gameName'].apply(lambda team: result_away(team))

In [43]:
National_team_2017['homeTeamName'].loc[National_team_2017['homeTeamName']=='south korea']='republic of korea'

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
National_team_2017.columns=['homeTeamName', 'Ovr_home', 'Def_home', 'Mid_home', 'Fwd_home','Phy_home', 'Spd_home', 'year_home', '2017 power_home']

In [45]:
National_asia.head(1)

    Name  Ovr  Def  Mid  Fwd  Phy  Spd  year
0  Japan   76   76   78   76   73   75  2017

In [46]:
result_2017=pd.merge(result,National_team_2017,how='inner',on='homeTeamName')

In [47]:
National_team_2017.columns=['awayTeamName', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away', 'Phy_away', 'Spd_away', 'year_away', '2017 power_away']

In [48]:
result_2017=pd.merge(result_2017,National_team_2017,how='inner',on='awayTeamName')

In [49]:
result_2017['Ovr_ratio']=0.0
result_2017['Def_ratio']=0.0
result_2017['Mid_ratio']=0.0
result_2017['Fwd_ratio']=0.0
result_2017['Phy_ratio']=0.0
result_2017['Spd_ratio']=0.0
result_2017['2017 power_ratio']=0.0
for i in range(result_2017.shape[0]):
    result_2017['Ovr_ratio'][i]=result_2017['Ovr_home'][i]/result_2017['Ovr_away'][i]
    result_2017['Def_ratio'][i]=result_2017['Def_home'][i]/result_2017['Def_away'][i]
    result_2017['Mid_ratio'][i]=result_2017['Mid_home'][i]/result_2017['Mid_away'][i]
    result_2017['Fwd_ratio'][i]=result_2017['Fwd_home'][i]/result_2017['Fwd_away'][i]
    result_2017['Phy_ratio'][i]=result_2017['Phy_home'][i]/result_2017['Phy_away'][i]
    result_2017['Spd_ratio'][i]=result_2017['Spd_home'][i]/result_2017['Spd_away'][i]
    result_2017['2017 power_ratio'][i]=result_2017['2017 power_home'][i]/result_2017['2017 power_away'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [50]:
X_test=result_2017.drop(['gameId', 'gameDate', 'homeTeamId', 'awayTeamId', 'gameName', 'p1',
       'px', 'p2', 'homeTeamName', 'awayTeamName', 'Ovr_home', 'Def_home',
       'Mid_home', 'Fwd_home', 'Phy_home', 'Spd_home', 'year_home',
       '2017 power_home', 'Ovr_away', 'Def_away', 'Mid_away', 'Fwd_away',
       'Phy_away', 'Spd_away', 'year_away', '2017 power_away'],axis=1)

In [51]:
prediction=logmodel.predict_proba(X_test)
prediction1=logmodel.predict(X_test)

In [52]:
X_test.head()

,Ovr_ratio,Def_ratio,Mid_ratio,Fwd_ratio,Phy_ratio,Spd_ratio,2017 power_ratio
0,1.132353,1.134328,1.115942,1.161765,1.085714,1.000000,0.600167
1,1.176471,1.134328,1.130435,1.147059,1.128571,1.026667,1.353942
2,1.149254,1.169231,1.184615,1.215385,1.070423,1.056338,0.371399
3,1.014925,1.030769,1.061538,1.046154,0.985915,1.056338,0.618826
4,0.837500,0.855263,0.833333,0.833333,0.898734,0.922078,1.193525

In [53]:
prediction.shape[0]

48

In [54]:
result.shape

(48, 10)

In [55]:
for i in range(result.shape[0]):
    result['p2'][i]=prediction[i][2]
    result['p1'][i]=prediction[i][1]
    result['px'][i]=prediction[i][0]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [56]:
result.drop(['homeTeamName','awayTeamName'],axis=1,inplace=True)

In [57]:
result.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2
0,1249942,2018-06-14 16:00:00,326,494,russia-saudi-arabia,0.383387,0.365691,0.250922
1,1249926,2018-06-15 13:00:00,944,967,egypt-uruguay,0.524267,0.264565,0.211169
2,1249948,2018-06-15 16:00:00,495,1293,morocco-iran,0.346532,0.403620,0.249848
3,1249919,2018-06-15 19:00:00,340,338,portugal-spain,0.363452,0.368351,0.268196
4,1249951,2018-06-16 11:00:00,341,328,france-australia,0.441301,0.277090,0.281609

In [58]:
result.to_csv('submission_template_2017.csv')