In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from datetime import date
from tqdm import tqdm

In [2]:
sub2015=pd.read_csv('submission_template_2015.csv')
sub2016=pd.read_csv('submission_template_2016.csv')
sub2017=pd.read_csv('submission_template_2017.csv')
sub2018=pd.read_csv('submission_template_2018.csv')
final_submission=pd.read_csv('submission_template.csv')

In [4]:
final_submission.head()

,gameId,gameDate,homeTeamId,awayTeamId,gameName,p1,px,p2
0,1249942,2018-06-14 16:00:00,326,494,Russia-Saudi-Arabia,NaN,NaN,NaN
1,1249926,2018-06-15 13:00:00,944,967,Egypt-Uruguay,NaN,NaN,NaN
2,1249948,2018-06-15 16:00:00,495,1293,Morocco-Iran,NaN,NaN,NaN
3,1249919,2018-06-15 19:00:00,340,338,Portugal-Spain,NaN,NaN,NaN
4,1249951,2018-06-16 11:00:00,341,328,France-Australia,NaN,NaN,NaN

In [8]:
for i in range(final_submission.shape[0]):
    final_submission['p1'][i]=0.1*sub2015['p1'][i]+0.15*sub2016['p1'][i]+0.25*sub2017['p1'][i]+0.5*sub2018['p1'][i]
    final_submission['px'][i]=0.1*sub2015['px'][i]+0.15*sub2016['px'][i]+0.25*sub2017['px'][i]+0.5*sub2018['px'][i]
    final_submission['p2'][i]=0.1*sub2015['p2'][i]+0.15*sub2016['p2'][i]+0.25*sub2017['p2'][i]+0.5*sub2018['p2'][i]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [10]:
final_submission.to_csv('final_submission.csv')